* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* fix scrolling beyond page limit on macs */
    overflow: hidden;
}

.webgl {
    /* gets rid of the scroll bars */
    position: fixed;
    left: 0;
    top: 0;

    /* removes outline when drag clicking in the canvas on some browsers */
    outline: none;
}
